<div class="landing">
  <div class="row">
    <div class="span12">
      <img src="/assets/landing123JS.png" alt="123JumpStart" />
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <img src="/assets/landingArrow.png" />
    </div>
    <div class="span8">
      <h1 class="tagline">Nurturing Innovation in the Industry</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <ul class="nav landing-nav">
	<li><a href="#">Offerings</a></li>
	<li><a href="#">Our People</a></li>
	<li><a href="#">Apply Now</a></li>
	<li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
