<div class="center hero-unit">
  <h1>Hello Charleen Phor!</h1>

  <h2>
    This is the home page for the
    <a href="http://sitf.org.sg/">123JumpStart</a>
    web resource.
  </h2>

  <%= link_to "Request Early Access!", '#', class: "btn btn-large btn-primary" %>
</div>
