<div class="offerings">
  <div class="row">
    <div class="span12">
      <h1 class="courgette">What We Provide</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12 grey-divider">
      <img class="pull-left" src="/assets/funding.png" alt="Funding" />
      <h3>Funding</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12 grey-divider">
      <img class="pull-right" src="/assets/mentor.png" alt="Mentor" />
      <h3>Mentors</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12 grey-divider">
      <img class="pull-left" src="/assets/incubation.png" alt="Incubation Space" />
      <h3>Incubation Space</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12 grey-divider">
      <img class="pull-right" src="/assets/events.png" alt="Events" />
      <h3>Events</h3>
    </div>
  </div>


</div>
