<div class="people">
<div class="row">
  <div class="span12">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a class="courgette" href="#investor-mentor" data-toggle="tab">Our Investor-Mentor</a></li>
      <li><a class="courgette" href="#startup" data-toggle="tab">Our Startups</a></li>
    </ul>
 
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="investor-mentor">
        <div class="row">
          <div class="span6">
            <div class="photo-container"><img src="/assets/roger.png" alt="Roger Yuen" /></div>
            <h3 class="imName">Roger Yuen</h3>
            <h3 class="imTitle">CEO Clozette</h3>
            <span>Roger is the CEO and founder of Clozette, a visual, image-centric Fashion Social Network that provides a virtual platform for fashion brands, retailers, designers and artisans to build communities by engaging and interacting with consumers and fashion tastemakers. <br/>

Roger was also a co-founder of e-Cop, which pioneered the first 24×7 Managed Security Services in the world. e-Cop was acquired in 2007 by a wholly owned subsidiary of Temasek Holdings. In addition, he is a board member and seed investor of Brandtology, a leading innovator in social media and online brand intelligence.</span>
          </div>
          <div class="span6">
            <div class="photo-container"><img src="/assets/eddie.png" alt="Eddie Chau" /></div>
            <h3 class="imName">Eddie Chau</h3>
            <h3 class="imTitle">CEO Brandtology</h3>
            <span>Eddie Chau formed Brandtology in 2008 after successfully incubating e-Cop Pte Ltd, a company he founded in 2000, to a market leader in Info-Security Industry. e-Cop was acquired in 2007 by a wholly owned subsidiary of Temasek Holding Pte Ltd. <br />

Brandtology is the leader in providing Business & Brand online intelligence services with proprietary technologies and proven process, combined with trained and experienced analysts, to help companies listen to the social media and make strategic decisions for their brands in a timely manner. </span>
          </div>
        </div>

        <div class="row">
          <div class="span6">
            <div class="photo-container"><img src="/assets/shirley.png" alt="Shirley Wong" /></div>
            <h3 class="imName">Shirley Wong</h3>
            <h3 class="imTitle">Managing Director TNF Ventures</h3>
            <span>Shirley is the Managing Director of TNF Ventures, with a 16 year experience in the IT industry as the Co-Founder of Frontline Technologies Corporation Ltd, listed on the Singapore Exchange since March 2001. Frontline was acquired by British Telecom Global Services and is renamed as BT Frontline Pte Ltd. BT Frontline is a leading provider of end-to-end IT services that comprise IT consulting, IT infrastructure, systems integration as well as outsourcing. Shirley is currently the Director of BT Global Solutions Pte Ltd.</span>
          </div>
          <div class="span6">
            <div class="photo-container"><img src="/assets/bill.png" alt="Bill Liu" /></div>
            <h3 class="imName">Bill Liu</h3>
            <h3 class="imTitle">Managing Partner Stream Global</h3>
            <span>Bill is the Chairman and Managing Partner at Stream Global, a venture catalyst that invests in start-ups and early stage companies in the IT and Digital Media space, providing strategic consulting and business advisory services for business expansion, re-structuring, fund raising and M&A activities. <br />

Bill has worked with experienced associates and consultants throughout Asia Pacific to provide specialist skills and knowledge to investee companies and clients. </span>
          </div>

        </div>

      </div>

      <div class="tab-pane fade" id="startup">
        <div class="row">
          <div class="span6">
            <div class="logo-container"><img src="/assets/kaisquare.png" alt="KAI Square" /></div>
            <p>KAI Square is a high-tech company providing innovative technological solutions-related surveillance services & monitoring solutions.<br />
KAI Square is well regarded as the next generation high-end technology provider to telecommunication companies, as well as system integrators. With a growing clientele that comprises of fleet operators, police force and business in the healthcare, security and logistics sector. It currently manages over 20,000 security cameras. <br/>
With marketing offices in Beijing, Shanghai and Taiwan, KAI Square will continue to grow its global market presence by deploying its technology to seven new cities.</p>
          </div>
          <div class="span6">
            <div class="logo-container"><img src="/assets/anafore.png" alt="Anafore" /></div>
            <p>Anafore are the guys behind ReferralCandy, a social media enhanced customer referral web application for small business that makes it really simple for online stores to run their customer referral program and increase their sales. <br/>
Counting amongst their customers are Okabashi, the largest US manufacturers of flip flops, Bigstock, Cafe Boulet and many others worldwide.
</p>
          </div>
      </div>
        <div class="row">
          <div class="span6">
            <div class="logo-container"><img src="/assets/myManisku.png" alt="MyManisku" /></div>
            <p>MyManisku are the team who created TradeHero, a social investment network that empowers ordinary people to make money from the financial markets: Traders are able to place real-time virtual trades against stock exchanges and TradeHero performs performance rankings of the trader community. Members of the TradeHero community can follow the top-ranked traders for a fee. Traders can build a following around themselves and monetize their trade-feeds while those following get relevant, pertinent and timely financial trading tips and feeds. Their ecosystem leverages and embraces the mobile paradigm with push notifications and in-app recurring purchases direct from smartphones.</p>
          </div>
          <div class="span6">
            <div class="logo-container"><img src="/assets/travelogy.png" alt="Travelogy" /></div>
            <p>Travelogy builds technology and provides digital marketing solutions for better travel experience, focusing on the Asia Pacific region, where the travel market is huge and fast growing.<br/>

The team have built two online platforms - ComeSingapore.com and TripZilla.com. Each has a Google PageRank of 6, attracts highly targeted travellers efficiently, and influences their travel planning and bookings.<br/>

These platforms are high tech in nature, and include elements like mobile, social media, LBS, internationalisation, editorial & UGC, SEO, CMS, transactions, metasearch etc; they are also designed to be easily scalable to other countries.
</p>
          </div>
      </div>
    </div>

  </div>
</div>
</div>
